.tooltipContainer {
    position: relative;
    display: flex;
}
.tooltipContainer:hover{
    cursor: pointer;
}

.tooltip {
    position: absolute;
    width: 250px;
    padding: 4px 12px;
    margin-left: calc(100%);
    justify-content: center;
    color:  #e2b714;
    background-color: #0e0e0e;
    border-radius: 12px ;
    text-align: center;
    white-space: pre-line;
    font-weight: 400 ;
    pointer-events: none;
    opacity: 0.6;
    font-size: 20px;
}
